* {
  list-style-type: none;
}

.ticket {
  transition: 600ms;
  margin-top: 12px;
  padding: 12px;
  border: 1px solid rgb(255, 254, 254);
  background-color: rgb(216, 231, 245);
}
.ticket:hover {
  background-color: aliceblue;
  transition: 600ms;
  .tag-span {
    transition: 600ms;
    background-color: rgb(97, 143, 243);
  }
}
.tag-span {
  transition: 600ms;
  background-color: rgba(46, 107, 238, 0.842);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  padding: 1px;
  border-radius: 4px;
  margin-right: 3px;
  font-size: 16px !important;
  color: whitesmoke !important;
  user-select: none;
}
.ticket_title {
  font-size: 18px;
  margin-top: 3px;
  font-weight: 700;
  color: rgb(148, 21, 21);
  user-select: none;
}
.ticket_content-div {
  display: flex;

  .ticket_content-summary {
    cursor: pointer;
    padding: 6px;
  }
  .ticket_content {
    margin-top: -13px;
    margin-bottom: 1px;
    padding: 6px;
  }
  details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
  }
  @keyframes sweep {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .expand-collapse {
    float: right;
    position: relative;
    top: 5px;
  }
}
.ticket_email {
  font-size: 18px;
}
.ticket_done {
  font-size: 18px;
  color: #d915e7;
}
.ticket_date {
  font-size: 18px;
}
