.testbox {
  margin: 20px auto;
  width: 343px;
  height: 464px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
  border: solid 1px #cbc9c9;
}

.testbox div,
.testbox dl,
.testbox dt,
.testbox dd,
.testbox ul,
.testbox ol,
.testbox li,
.testbox h1,
.testbox h2,
.testbox h3,
.testbox h4,
.testbox h5,
.testbox h6,
.testbox pre,
.testbox form,
.testbox fieldset,
.testbox input,
.testbox textarea,
.testbox p,
.testbox blockquote,
.testbox th,
.testbox td {
  padding: 0;
  margin: 0;
}

.testbox fieldset,
.testbox img {
  border: 0;
}

.testbox ol,
.testbox ul,
.testbox li {
  list-style: none;
}

.testbox :focus {
  outline: none;
}

.testbox body,
.testbox input,
.testbox textarea,
.testbox select {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

.testbox p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}

.testbox h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.testbox html {
  background-color: #ffffff;
}

.testbox input[type="radio"] {
  visibility: hidden;
}

.testbox form {
  margin: 0 30px;
}

.testbox label.radio {
  cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

.testbox label.radio:before {
  background: #3a57af;
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.testbox label.radio:after {
  opacity: 0;
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.25em;
  background: transparent;
  top: 7.5px;
  left: 4.5px;
  border: 3px solid #ffffff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.testbox input[type="radio"]:checked + label:after {
  opacity: 1;
}

.testbox hr {
  color: #a9a9a9;
  opacity: 0.3;
}

.testbox input[type="text"],
.testbox input[type="password"] {
  width: 200px;
  height: 39px;
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px;
  padding-left: 10px;
}

.testbox input[type="password"] {
  margin-bottom: 25px;
}

#icon {
  display: inline-block;
  width: 30px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  border: solid 0px #cbc9c9;
}

.gender {
  margin-left: 30px;
  margin-top: -20px !important;
}

.accounttype {
  margin-left: 8px;
  margin-top: 20px;
}

button.button {
  top: -40px !important;
  margin-right: 12px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  display: inline-block;
  float: right;
  text-decoration: none;
  width: 100px;
  height: 36px;
  border-radius: 5px;
  background-color: #3a57af;
  -webkit-box-shadow: 0 3px rgba(58, 87, 175, 0.75);
  box-shadow: 0 3px rgba(58, 87, 175, 0.75);
  -webkit-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
  position: relative;
}

button.button:hover {
  top: -40px;
  background-color: #2e458b;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.user-info {
  position: relative;
  margin: 12px !important;
  margin-left: 60px !important;
}

.icons {
  margin-left: 8px;
}
/*# sourceMappingURL=Register.css.map */