.title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  left: 45%;
  color: #ffffff;
  text-shadow: 2px 1px 1px rgb(61, 2, 2);
}
.navbar {
  background-color: rgb(106, 113, 219);
  user-select: none;
  position: fixed !important;
  top: 0;
  @media (max-width: 768px) {
    display: none !important;
  }
  @media (max-height: 768px) {
    position: unset !important;
  }
}
.tool-bar {
  position: absolute !important;
}
